#writing {
  /* display: none; */
}

.project-item span {
  color: #aaa;
}

.post-item .dates {
  width: 100px;
  color: #aaa;
  margin-right: 10px;
}
.post-item {
  flex-wrap: wrap;
}

.post-list .post-item.experience-item {
  margin-bottom: 20px;
}

.post-item .desc {
  margin-top: 3px;
  width: 100%;
  margin-left: 110px;
  color: rgb(119, 119, 119);
}

span.job-title,
a.job-title {
  background-color: #333;
  color: #fff;
  padding: 0 5px;
}
